.delete-modal__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.delete-modal__title {
  margin-bottom: 5px;
}

.delete-modal__text {
  font-size: 14px;
  line-height: 19px;
  color: var(--color-mine-shaft);
  margin-bottom: 15px;
  text-align: center;
  max-width: 270px;
}

.delete-modal__delete {
  display: block;
  align-self: center;
  border: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 43px;
  height: 43px;
  width: 104px;
  text-align: center;
  transition: opacity .3s ease-in-out;
}

.delete-modal__delete:hover {
  opacity: 0.7;
}

.delete-modal__delete-spinner .spinner {
  top: 27px;
  left: -42px;
}