.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
  background-color: var(--color-white);
}

.header__container {
  padding-top: 10px;
  padding-bottom: 12px;
  max-width: 1355px;
  display: flex;
  gap: 33px;
  align-items: center;
}

.header__logo {
  display: block;
}

.header__form {
  width: 100%;
}

.header__input {
  font-family: 'Open-sans';
  height: 44px;
  width: 100%;
  max-width: 581px;
  padding: 0 16px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  outline: none;
}

.header__input::placeholder {
  color: var(--color-silver-chalice);
  font-size: 14px;
  line-height: 19px;
  font-family: 'Open-sans';
}