.header__inner {
  position: relative;
  width: 100%;
}

.find-list {
  list-style: none;
  margin: 0;
  padding: 10px;
  position: absolute;
  max-width: 581px;
  top: 47px;
  left: 0;
  width: 100%;
  z-index: 4;
  background-color: var(--color-white);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.15);
}

.find__list-link {
  display: inline-block;
  padding: 5px;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-mine-shaft);
}

.find__list-link mark {
  color: var(--color-white);
  background-color: var(--color-emerald);
}

.find-list__item:not(:last-child) {
  margin-bottom: 5px;
  border-bottom: 1px solid var(--color-gray-suit);
}

.hide {
  display: none;
}
