@font-face {
  font-family: 'Open-sans';
  src: local('OpenSansRegular'), local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Open-sans';
  src: local('OpenSansSemiBold'), local('OpenSans-SemiBold'), url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Open-sans';
  src: local('OpenSansBold'), local('OpenSans-Bold'), url('../fonts/OpenSans-Bold.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open-sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-wild-sand);
}

:root {
  --color-wild-sand: #f5f5f5;
  --color-white: #ffffff;
  --color-silver-chalice: #b0b0b0;
  --color-mine-shaft: #333333;
  --color-emerald: #34c759;
  --color-gray-suit: #c8c5d1;
  --color-mischka: #e7e5eb;
  --color-athens-gray: #f4f3f6;
  --color-burnt-sienna:  #f06a4d;
  --color-studio:  #5B46A9;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-mine-shaft);
}

a {
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  font-family: 'Open-sans', sans-serif;
  background-color: transparent;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 15px;
}

.site-modal {
  position: fixed;
  overflow-x: auto;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  opacity: 0;
}

.site-modal__content {
  position: absolute;
  max-width: 450px;
  cursor: auto;
  padding: 25px 30px;
  top: 50%;
  left: 50%;
  z-index: 77;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.15);
  background-color: var(--color-white);
}

.site-btn{
  color: var(--color-white);
  background-color: var(--color-emerald);
}


.site-tooltip {
  position: absolute;
  top: -41px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
  padding: 7px 15px;
  color: var(--color-white);
  background-color: var(--color-mine-shaft);
}

.site-tooltip::before {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translateX(-50%);
  clip-path: polygon(100% 0, 0 0, 51% 100%);
  background-color: var(--color-mine-shaft);
  transition: all .3s ease-in-out;
}
