@import './settings.css';
@import './header.css';
@import './clients-section.css';
@import './modal.css';
@import './contact.css';
@import './client-item.css';
@import './delete-model.css';
@import './tooltip.css';
@import './preloader.css';
@import './search-list.css';

@import './media.css';